<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAR</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    

    <footer>
        <div class="container_footer">
            <div class="footer_row">

            <ul>
                <li>GAR</li>
                <li>SOCIALS</li>
                <li>Language</li>
            </ul>
        
            </div>

            <div class="footer_row">
                
                <ul>
                    <li>Sobre</li>
                    <li>Uso da Marca</li>
                    <li>Centro de Segurança e Transparência</li>
                </ul>
            
                </div>

                <div class="footer_row">
                
                    <ul>
                        <li>Contato</li>
                        <li>Ajuda & FAQ</li>
                        <li>Termos e Políticas</li>
                    </ul>
                
                </div>

                <div class="footer_row">
                
                    <ul>
                        <li>Imprensa</li>
                        <li>Privacidade</li>
                        <li>Como Funciona</li>
                    </ul>
                
                </div>        
        </div>
    </footer>
</body>

</html>